<script src="/js/script.js"></script>
<br><br><br>
<footer>
    <div id="bottom">
        &copy; 2023 Yukio Rivera<br>
        Software Engineer<br>
        California State University<br> 
        Monterey Bay Class of 2023
    </div>
    <img src="/img/csumbLogo.png" alt="CSUMBLogo">
</footer>
</body>
</html>