<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>                               <!-- THIS LINE IS KEY -->
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../logo_sm.png" type="image/x-icon">
    <a href="/"><h1>ILP Website</h1></a>
        <form action="<%= classLink %>">    
            <select value="classSelect">
                <option><a href="majorProseminar">Major ProSeminar</a></option>
                <option><a href="softwareDesign">Software Design</a></option>
                <option><a href="databaseManagement">Database Management</a></option>
                <option><a href="operatingSystems">Operating Systems</a></option>
                <option><a href="computerNetworking">Introduction to Computer Networking</a></option>
                <option><a href="internetProgramming">Internet Programming</a></option>
            </select>
        </form>
        <!-- <nav>
            <a href="softwareDesign">Software Design</a>
            <a href="databaseManagement">Database Management</a>
            <a href="operatingSystems">Operating Systems</a>
            <a href="computerNetworking">Introduction to Computer Networking</a>
            <a href="internetProgramming">Internet Programming</a>
        </nav> -->
</head>
<body>


<!-- 
Classes For website:

CST 338: Software Design 
CST 363: Database Management
CST 334: Operating Systems
CST 311: Introduction to Computer Networking 
CST 336: Internet Programming 
CST 462s: Race, Gender, Class of Digital World 
CST 370: Algorithm’s 
CST 383: Introduction to Data Science 
CST 438: Software Engineering 
CST 489: Capstone Project Planning 
CST 499: Directed Group Capstone  
-->
    