<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>                               <!-- THIS LINE IS KEY -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="../logo_sm.png" type="image/x-icon">
    
    <div class="headerContainer">
        <a href="/"><h1>Yukio's CSUMB <br> ILP Portfolio</h1></a>
        
        <!-- When adding a new class create a new option -->
        <select class="classSelect" name="classSelect" value="classSelect" onchange="window.location.href=this.value" style="max-width:90%;">
            <option >Select One</option>
            <option value="/"><a href="/">Homepage</a></option>
            <option value="majorProseminar"><a href="majorProseminar">Major ProSeminar</a></option>
            <option value="softwareDesign"><a href="softwareDesign">Software Design</a></option>
            <option value="databaseManagement"><a href="databaseManagement">Database Management</a></option>
            <option value="operatingSystems"><a href="operatingSystems">Operating Systems</a></option>
            <option value="computerNetworking"><a href="computerNetworking">Introduction to Computer Networking</a></option>
            <option value="internetProgramming"><a href="internetProgramming">Internet Programming</a></option>
        </select>
    </div>
</head>
<body>


<!-- 
Classes For website:

CST 338: Software Design 
CST 363: Database Management
CST 334: Operating Systems
CST 311: Introduction to Computer Networking 
CST 336: Internet Programming 
CST 462s: Race, Gender, Class of Digital World 
CST 370: Algorithm’s 
CST 383: Introduction to Data Science 
CST 438: Software Engineering 
CST 489: Capstone Project Planning 
CST 499: Directed Group Capstone  
-->
    