<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Survey of Telecomm and Data Comm Technology Fundamentals, Local Area Network, Wide Area Network, Internet and internetworking protocols including TCP/IP, network security and performance, emerging industry trends such as voice over the network and high speed networking. Designed as a foundation for students who wish to pursue more advanced network studies including certificate programs. Includes hands-on networking labs that incorporate Cisco CCNA lab components.
   </p>
</div>

<span class='line'></span>

<div class="container">
   <h2><Strong>Team Program in Python - Client/Server</Strong></h2>
</div>
<div class="programImg">
   <div class="pdfView" id="code">
      <h4>Mininet Enviorment</h4>
      <iframe src="/files/cst311/legacy_network.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst311/legacy_network.txt" download="networkCode">DOWNLOAD CODE</a>
   </div>
   
   <div class="pdfView" id="code">
      <h4>SSL Webserver</h4>
      <iframe src="/files/cst311/sslwebserver.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst311/sslwebserver.txt" download="webserverCode">DOWNLOAD CODE</a>
   </div>
</div>

<div class="programImg">
   <h4>Client</h4>
   <div class="pdfView" id="code">
      <iframe src="/files/cst311/client.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst311/client.txt" download="clientCode">DOWNLOAD CODE</a>
   </div>

   <h4>Server</h4>
   <div class="pdfView" id="code">
      <iframe src="/files/cst311/server.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst311/server.txt" download="serverCode">DOWNLOAD CODE</a>
   </div>
</div>

<span class='line'></span>

<div class="container">
   <h2><strong>​Course Outcome: UDP and TCP applications (Python, Mininet)</strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst311/subnet.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst311/subnet.pdf" download="subnet.pdf">DOWNLOAD PAPER</a>
   </div>
</div>




<%- include ("partials/footer.ejs") %>