<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      This course provides balanced coverage of database use and design,focusing on relational databases. Students will learn to design relational schemas, write SQL queries, access a DB programmatically, and perform database administration. Students will gain a working knowledge of the algorithms and data structures used in query evaluation and transaction processing. Students will also learn to apply newer database technologies such as XML, NoSQL, and Hadoop.
   </p>
</div>

<span class='line'></span>

<div class="container">
   <h2><strong>​​Course Outcome: Final Team Project (Drug Store Chain Database)</strong></h2>
      <div class="pdfView">
         <iframe src="/files/cst363/finalProj.pdf" height="600" width="800"></iframe><br>
         <a href="/files/cst363/finalProj.pdf" download="finalProj.pdf">DOWNLOAD PAPER</a>
      </div>
</div>





<%- include ("partials/footer.ejs") %>