<%- include ("partials/header.ejs") %>

<!-- <hr><div class="bannerImg"><img src="/img/banner.png" alt="banner" height="200" width="1500"></div><hr> -->
<hr />


<h2><%=headerTitle%></h2>






<%- include ("partials/footer.ejs") %>