<%- include ("partials/header.ejs") %>

<!-- <hr><div class="bannerImg"><img src="/img/banner.png" alt="banner" height="200" width="1500"></div><hr> -->
<hr />

<div class="homeContainer">
   <div class="profileImg">
      <img src="/img/profPic.png" alt="profileImage">
      <br><br>
      <strong>Email: </strong>rivera.yukio@gmail.com <br>
      <a href="https://www.linkedin.com/in/yukio-rivera/"><strong>Linkedin</strong></a><br>
      <a href="https://github.com/DivinusMessor"><strong>Github</strong></a><br>
      <a href="https://www.blogger.com/blog/posts/2436329135076192845"><strong>Learning Journal</strong></a><br>
      <a href="https://replit.com/@YukioRivera"><strong>Replit</strong></a>
   </div>
   <div class="Bio">
      <h2>
         ​In June 2021 I graduated with a AS in Computer Science from Cabrillo College in Santa Cruz. <br>Working on getting my BS in Computer Science from CSU Monterey Bay
      </h2>
      <p>
         The CS Online degree completion program from California State University, Monterey Bay offers both solid computer science theories and hands-on software development practice. <br>
         My career goal is to become a software engineer so I want to have a few projects worked out that I can use to demonstrate the skills that I have learned while going to school.
      </p>
      <ul style="list-style: none;">
         <li><strong>Completed Courses:</strong></li><br>
         <li><strong>Click on the hyperlink to go to Github</strong></li><br>
         <li>CST 300 Major Pro Seminar</li><br>
         <li><a href="https://github.com/DivinusMessor/CST338_SoftwareDesign">CST 338 Software Design</a> - Learned Java, MongoDB, and Android Studio</li><br>
         <li>CST 363 Database Management</li><br>
         <li>CST 334 Operating Systems</li><br>
         <li>CST 311 Introduction to Computer Networking</li><br>
         <li>CST 336 Internet Programming</li><br>
      </ul>

      <br><br><br>
      <img src="/img/pdf.png" alt="PDF">
      <div class="downloadLinks">
         <strong>Resume</strong>
         <br>
         <a href="/files/YRResume.pdf" download="YRResume.pdf">DOWNLOAD</a> 
      </div>
   </div>
</div>

<div class="goalSection">
   <span class='line'></span>
   <br>
   <h3>Goal:</h3>
   <p>
      As long term goals, I will continue to increase my effort to learn and obtain the latest technologies while working as a software engineer and to focus on my current and future career success in the software engineering industry. As short term goals, I already joined the computer science online program at the California State University of Monterey Bay, am currently following curriculum, and will earn a bachelor's degree in computer science in 2023.
   </p>

   <br>
   <span class='line'></span>
   <br>

   <h3>CSUMB Computer Science B.S.</h3>
   <p>
      In the CS program, students learn fundamental computer science concepts while applying their knowledge to solve real-world problems. Collaboration, team work and communication skills are infused into the learning experiences with heavily project-based courses in a state-of-the-art technological environment. <br>
      Students begin by taking a set of common core courses to establish a strong foundation in computer science, followed by taking courses in the applicable concentration area. The curriculum provides students the opportunity to learn concepts and develop skills in more than one concentration.  Final major learning outcomes help them to become well rounded computer science professionals.
   </p>
</div>

<%- include ("partials/footer.ejs") %>