<%- include ("partials/header.ejs") %>

<!-- <hr><div class="bannerImg"><img src="/img/banner.png" alt="banner" height="200" width="1500"></div><hr> -->
<hr />

<h2><%=headerTitle%></h2>

<div class="homeContainer">
   <div class="profileImg">
      <img src="/img/profPic.png" alt="profileImage">
      <br><br>
      <strong>Email: </strong>rivera.yukio@gmail.com <br>
      <a href="https://www.linkedin.com/in/yukio-rivera/"><strong>Linkedin</strong></a><br>
      <a href="https://github.com/DivinusMessor"><strong>Github</strong></a><br>
      <a href="https://www.blogger.com/blog/posts/2436329135076192845"><strong>Learning Journal</strong></a><br>
   </div>
   <div class="Bio">
      <h2>
         ​In June 2021 I graduated with a AS in Computer Science from Cabrillo College in Santa Cruz. <br>Working on getting my BS in Computer Science from CSU Monterey Bay
      </h2>
      <p>
         The CS Online degree completion program from California State University, Monterey Bay offers both solid computer science theories and hands-on software development practice. <br>
         My career goal is to become a software engineer so I want to have a few projects worked out that I can use to demonstrate the skills that I have learned while going to school.
      </p>
      <ul style="list-style: none;">
         <li><strong>Completed Courses:</strong></li>
         <li>CST 300 Major Pro Seminar</li>
         <li>CST 338 Software Design</li>
         <li>CST 363 Database Management</li>
         <li>CST 334 Operating Systems</li>
         <li>CST 311 Introduction to Computer Networking</li>
         <li>CST 336 Internet Programming</li>
      </ul>

      <br><br><br>

      <div class="downloadLinks">
         <strong>Resume</strong>
         DOWNLOAD
      </div>
   </div>
</div>


<%- include ("partials/footer.ejs") %>