<%- include ("partials/header.ejs") %>

<!-- <hr><div class="bannerImg"><img src="/img/banner.png" alt="banner" height="200" width="1500"></div><hr> -->
<hr />

<div class="homeContainer">
   <div class="profileImg">
      <img src="/img/profPic.png" alt="profileImage">
      <br><br>
      <strong>Email: </strong>rivera.yukio@gmail.com <br>
      <a href="https://www.linkedin.com/in/yukio-rivera/"><strong>Linkedin</strong></a><br>
      <a href="https://github.com/DivinusMessor"><strong>Github</strong></a><br>
      <a href="https://www.blogger.com/blog/posts/2436329135076192845"><strong>Learning Journal</strong></a><br>
      <a href="https://replit.com/@YukioRivera"><strong>Replit</strong></a>
   </div>
   <div class="Bio">
      <h2>
         ​Hello, I am Yukio Rivera. I am a graduate of California State University, Monterey Bay, with an anticipated graduation date of June 2023. Additionally, I hold a Bachelor of Arts in Psychology, which I earned from the University of California, Santa Cruz in June 2015.
      </h2><br>
      <p>
         The CS program offers students a chance to apply core computer science concepts to real-world challenges by engaging in project-based courses within a cutting-edge technological environment. The program emphasizes the development of collaboration, teamwork, and communication skills as crucial aspects of the learning experience.
         Students begin by taking a collection of foundational computer science courses, building a strong base of knowledge in the field. They then choose from one of four concentrations - software engineering, network and security, data science, or game development - allowing them to gain deep insights into specific areas of interest. The comprehensive curriculum encourages students to expand their expertise by exploring multiple concentrations, preparing them to become adaptable computer science professionals.
         My goal is to pursue a career in software engineering and showcase my skills through various academic projects and initiatives.
      </p>
      <ul style="list-style: none;">
         <br>
         <li><strong>Completed Courses:</strong></li>
         <!-- <li><strong>Click on the hyperlink to go to Github</strong></li><br> -->
         <li>CST 300 Major Pro Seminar - Learned about the tech industry</li><br>
         <!-- <li><a href="https://github.com/DivinusMessor/CST338_SoftwareDesign">CST 338 Software Design</a> - Learned Java, MongoDB, and Android Studio</li><br> -->
         <li>CST 338 Software Design - <strong>Java and Android Studio</li><br></strong>
         <li>CST 363 Database Management - <strong>MYSQL and MongoDB</li><br></strong>
         <li>CST 334 Operating Systems - <strong>Linux commonad line and C lang</li><br></strong>
         <li>CST 311 Introduction to Computer Networking - <strong>Mininet and Python</li><br></strong>
         <li>CST 336 Internet Programming - <strong>HTML, CSS, Javascript, Express, REST API, and MYSQL</li><br></strong>
         <li>CST 462s: Race, Gender, Class of Digital World - <strong>Volunteered at Boys and Girls Club</li><br></strong>
         <li>CST 370: Algorithms - <strong>C++ and Algorithms</li><br></strong>
         <li>CST 383: Introduction to Data Science - <strong>Python, NumPy, Scikit-learn, Pandas, Seaborn, Matplotlib</li><br></strong>
         <li>CST 438: Software Engineering - <strong>Java, SpringBoot, Selenium, Unit Testing, React</li><br></strong>
         <li>CST 489: Capstone Project Planning - <strong>Create a Project Pitch</li><br></strong>
         <li>CST 499: Directed Group Capstone - <strong>Created Projet</li><br></strong>
      </ul>

      <br><br><br>
      <img src="/img/pdf.png" alt="PDF">
      <div class="downloadLinks">
         <strong>Resume</strong>
         <br>
         <a href="/files/YRResume.pdf" download="YRResume.pdf">DOWNLOAD</a> 
      </div>
   </div>
</div>

<div class="goalSection">
   <span class='line'></span>
   <br>
   <h3>Goal:</h3>
   <p>
      In the long term, I will continue to increase my effort to learn and obtain the latest technologies while working as a software engineer and to focus on my current and future career success in the software engineering industry. In short term I am currently completing the curriculum of the computer science online program at the California State University of Monterey Bay and will earn a bachelor's degree in computer science in June of 2023.
   </p>

   <br>
   <span class='line'></span>
   <br>

   <h3>CSUMB Computer Science B.S.</h3>
   <p>
      In the CS program, students learn fundamental computer science concepts while applying their knowledge to solve real-world problems. Collaboration, team work and communication skills are infused into the learning experiences with heavily project-based courses in a state-of-the-art technological environment. <br>
      Students begin by taking a set of common core courses to establish a strong foundation in computer science, followed by taking courses in the applicable concentration area. The curriculum provides students the opportunity to learn concepts and develop skills in more than one concentration.  Final major learning outcomes help them to become well rounded computer science professionals.
   </p>
</div>

<%- include ("partials/footer.ejs") %>


<!-- 
// Classes For website:

CST 338: Software Design 
CST 363: Database Management
CST 334: Operating Systems
CST 311: Introduction to Computer Networking 
CST 336: Internet Programming 
CST 462s: Race, Gender, Class of Digital World 
CST 370: Algorithms
CST 383: Introduction to Data Science
CST 438: Software Engineering
CST 489: Capstone Project Planning
CST 499: Directed Group Capstone
-->
