<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Provides students with dynamic web application development skills, focusing on the integration of server-side programming, database connectivity, and client-side scripting. Coverage includes the Internet architecture, responsive design, RESTful web services, and Web APIs.
   </p>
</div>

<span class='line'></span>

<!-- TODO: add code and discribe the website -->
<div class="container">
   
      <a href="https://mallmart.yukiorivera.repl.co/"><h3>Link to Final Project Website - MallMart</h3></a>
   <h2><strong>​Course Outcome: UDP and TCP applications (Python, Mininet)</strong></h2>
      <div class="pdfView">
         <iframe src="/files/cst336/finalReportBayTech.pdf" height="600" width="800"></iframe><br>
         <a href="/files/cst336/finalReportBayTech.pdf" download="finalReportBayTech.pdf">DOWNLOAD PAPER</a>
      </div>
</div>

<%- include ("partials/footer.ejs") %>