<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Provides students with dynamic web application development skills, focusing on the integration of server-side programming, database connectivity, and client-side scripting. Coverage includes the Internet architecture, responsive design, RESTful web services, and Web APIs.
   </p>
</div>

<span class='line'></span>
   
<div class="container">
   <h2><strong>​Course Outcome: Final Team Project</strong></h2>

   Designed and created a ecommerce website MallMart is an online store that sells several categories of products ranging from <br> camping items to bathroom items and many more. The website is made to be easy to navigate through for users to have a soothing <br> experience browsing through the site.<br>(HTML5, CSS3, JavaScript, Bootstrap, node.js, express.js, jQuery, MySQL, and Heroku)

   <a href="https://mallmart.yukiorivera.repl.co/"><h3>Link to Final Project Website - MallMart</h3></a>
   <iframe width="560" height="315" src="https://mallmart.yukiorivera.repl.co/" title="MallMart" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<span class="line"></span>
<br><br>

<div class="container">
   <div class="pdfView">
      <iframe src="/files/cst336/finalReportBayTech.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst336/finalReportBayTech.pdf" download="finalReportBayTech.pdf">DOWNLOAD PAPER</a>
   </div>
</div>

<%- include ("partials/footer.ejs") %>