<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Helps students identify and articulate personal, professional, and social goals. Provides an integrated overview of the computer science and  communication design majors and their requirements. Students develop a plan for their learning goals. Students learn writing, presentation, research and critical-thinking skills within the diversified fields of information technology and communication design. Students learn how to analyze, predict, and articulate trends in the academic, public service.
   </p>
</div>

<span class='line'></span>

<br><br><br>

<div class="container">
   <h2><strong>​​Course Outcome: Industry Analysis Paper</strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst300/analysisPaper.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst300/analysisPaper.pdf" download="YRResume.pdf">DOWNLOAD PAPER</a>
   </div>

   <span class="line"></span>

   <h2><strong>​​Course Outcome: Ethics Paper</strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst300/Rivera_Paper.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst300/Rivera_Paper.pdf" download="YRResume.pdf">DOWNLOAD PAPER</a>
   </div>
   
   <span class="line"></span>

   <div class="videoView">
      <h2><strong>Course Outcome: Final Research Presentation 3D-Printing</strong></h2>
      <iframe id="player" type="text/html" width="640" height="390"
      src="/files/cst300/3dprinting.mp4" type="video/mp4"
      frameborder="0">
      </iframe>
   </div>
</div>




<%- include ("partials/footer.ejs") %>