<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Students in this course will learn about the use and design of modern operating systems, focusing on Linux. On the "use" side, students will learn the Linux command line, to write shell scripts, and to build programs with GNU utilities like awk, sed, and make. On the "design" side, students will develop a deep understanding of process management, memory management, file systems, and concurrency, and how they apply to modern technologies like virtualization and cloud computing.
   </p>
</div>

<span class='line'></span>

<!-- TODO: Add projects that we created -->
<div class="container">
   <div class="videoView">
      <h2><strong>​Course Outcome: Research Collaboration Project​</strong></h2>
      <iframe id="player" type="text/html" width="640" height="390"
      src="/files/cst334/CST334Video.mp4" type="video/mp4"
      frameborder="0">
      </iframe>
   </div>
</div>



<%- include ("partials/footer.ejs") %>