<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      Students in this course will learn about the use and design of modern operating systems, focusing on Linux. On the "use" side, students will learn the Linux command line, to write shell scripts, and to build programs with GNU utilities like awk, sed, and make. On the "design" side, students will develop a deep understanding of process management, memory management, file systems, and concurrency, and how they apply to modern technologies like virtualization and cloud computing.
   </p>
</div>

<span class='line'></span>

<div class="container">
   <h2><Strong>Team C Program - Multi Thread</Strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst334/lab6.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst334/lab6.txt" download="cCode">DOWNLOAD CODE</a>
   </div>
   <h2>MultiThread Images and Description</h2>
   <div class="programImg">
      <img src="/img/cst334/lab6.png" alt="setup" width="400" height="400">
      <div class="Bio">
         <h2>Description</h2>
         <p>
            For this lab we were asked to create 2 threads that are used by a producer and consumer to
            display the alphabet. The main display would look like, “ Producer thread [thread number]::
            [Char] >> buffer” and “Consumer thread [Thread number]:: buffer >>[Char]”. The key was that
            there were only 2 threads being interacted with 1 for the consumer and 1 for the producer.
            Producer would add a char, such as ‘A’ to the buffer and then the consumer would remove the
            char from the buffer. The threads would alternate between adding and removing to the buffer.
            Using semaphores for synchronization
         </p>
      </div>
   </div>
</div>

<span class='line'></span>

<div class="container">
   <div class="videoView">
      <h2><strong>​Course Outcome: Research Collaboration Project​</strong></h2>
      <iframe id="player" type="text/html" width="640" height="390"
      src="/files/cst334/CST334Video.mp4" type="video/mp4"
      frameborder="0">
      </iframe>
   </div>
</div>



<%- include ("partials/footer.ejs") %>