<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
    Provides students with key knowledge of race, gender, class and social justice especially in relation to technology in today’s digital world. Students challenge the barriers of expertise, gender, race, class, and location that restrict wider access to and understanding of the production and usage of new technologies. Students will engage in a practical experience in the community via their service placements, which will provide depth and context for considering questions of justice, equality, social responsibilities and the complexities of technology and its societal impact. The course uses scenario based approach combining presentations, discussions, and reflections to allow students explore the relationship between critical reflection and action on the topics mentioned above. 
   </p>
</div>

<span class='line'></span>

<br><br><br>

<div class="container">
   <h2><strong>​​Course Outcome: Industry Analysis Paper</strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst300/analysisPaper.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst300/analysisPaper.pdf" download="YRResume.pdf">DOWNLOAD PAPER</a>
   </div>

   <span class="line"></span>

   <h2><strong>​​Course Outcome: Ethics Paper</strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst300/Rivera_Paper.pdf" height="600" width="800"></iframe><br>
      <a href="/files/cst300/Rivera_Paper.pdf" download="YRResume.pdf">DOWNLOAD PAPER</a>
   </div>
   
   <span class="line"></span>

   <div class="videoView">
      <h2><strong>Course Outcome: Final Research Presentation 3D-Printing</strong></h2>
      <iframe id="player" type="text/html" width="640" height="390"
      src="/files/cst300/3dprinting.mp4" type="video/mp4"
      frameborder="0">
      </iframe>
   </div>
</div>

<%- include ("partials/footer.ejs") %>