<%- include ("partials/header.ejs") %>

<div class="courseInfo">
    <strong>Projects</strong>
    <p class="infoText">
       This will be a collection of ongoing projects that I create using the skills I've developed in school and on my own time. I will start with python and my goal will be to branch out to other languages as well. I hope to develop programs in python, C, and javascript. This page will grow and change as my skills develop. 
    </p>
 </div>

<span class='line'></span>
   
<div class="container">
    <h2><Strong>Reservation Program</Strong></h2>
   <div class="programImg">
        <div class="pdfView">
            <iframe src="/files/projects/busReservsation.txt" height="400" width="600"></iframe><br>
        <a href="/files/projects/busReservation.txt" download="pCode">DOWNLOAD CODE</a>
        </div>
        <div class="Bio">
         <h2>Description</h2>
         <p>
            This project utilizes python and MYSQL. The MYSQL is hosted on Heroku. It will create new users and add them to the database. You can also log in with username/password that is retrived from the database. A standard user account user/pass is: temp/temp123 and admin account user/pass is: admin/password123
         </p>
      </div>
    </div>
</div>





<%- include ("partials/footer.ejs") %>