<%- include ("partials/header.ejs") %>

<div class="courseInfo">
   <strong>Course Description:</strong>
   <p class="infoText">
      ​Provides students with the fundamental concepts to develop large-scale software, focusing on the object-oriented programming techniques. Coverage includes the introduction to Java programming language, object-oriented programming, software life cycle and development processes, requirements analysis, and graphical user interface development.
   </p>
</div>

<span class='line'></span>

<div class="container">
   <h2><Strong>Team Java Program - Card Game</Strong></h2>
   <div class="pdfView">
      <iframe src="/files/cst338/Assig5_Phase3.txt" height="400" width="600"></iframe><br>
      <a href="/files/cst338/Assig5_Phase3.txt" download="javaCode">DOWNLOAD CODE</a>
   </div>
   <h2>Card Game Images</h2>
   <div class="programImg">
      <img src="/img/cst338/phase3Setup.png" alt="setup" width="300" height="350">
      <img src="/img/cst338/phase3Winning.png" alt="winner" width="300" height="350">
   </div>
</div>

<span class='line'></span>

<div class="container">
   <h2><strong>​​Course Outcome: Programming Assignments</strong></h2>
   <br><br>
   <h4><strong>​Android App - Simple Android App</strong></h4>
   <div class="programImg">
      <img src="/img/cst338/first_openapp.PNG" alt="home" width="210" height="400">
      <img src="/img/cst338/second_video.PNG" alt="second" width="210" height="400">
      <img src="/img/cst338/third_CST338.PNG" alt="third" width="210" height="400">
      <img src="/img/cst338/fourth_CST311.PNG" alt="fourth" width="210" height="400">
   </div>

   <br>
   <h2><strong>​​Course Outcome: Programming Assignments</strong></h2>
   <br>
   <h4><strong>Final Project - Workout App</strong></h4>
   <div class="programImg">
      <img src="/img/cst338/HOME.PNG" alt="home" width="210" height="400">
      <img src="/img/cst338/ARMS.PNG" alt="arms" width="210" height="400">
      <img src="/img/cst338/CHEST.PNG" alt="chest" width="210" height="400">
      <img src="/img/cst338/LEGS.PNG" alt="legs" width="210" height="400">
   </div>
</div>

<br><br>
<span class="line"></span>
<br><br>

<div class="container">
   <h2><strong>​Course Outcome: Programming Problem Analysis</strong></h2>
   <iframe src="/files/cst338/workout.mp4" id="player" type="text/html" width="640" height="390" type="video/mp4" frameborder="0">
      Video
   </iframe>
</div>

<%- include ("partials/footer.ejs") %>